# Node / NestJS / Frontend
node_modules/
dist/
build/
.env
.env.local

# Python / ML service
venv/
__pycache__/
*.pyc
*.pkl

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Kubernetes (kubeconfig local, ne jamais committer)
kubeconfig*.yaml
*-config

# Logs et fichiers système
*.log
.DS_Store

# AJOUT : states et backups Terraform (données sensibles possibles)
*.tfstate
*.tfstate.*
