apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  namespace: aiops
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:<MOT_DE_PASSE>@postgres-service.aiops.svc.cluster.local:5432/taskmanager"
