apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: aiops
type: Opaque
stringData:
  POSTGRES_PASSWORD: "<MOT_DE_PASSE>"
  DATABASE_URL: "postgresql://postgres:<MOT_DE_PASSE>@postgres-service.aiops.svc.cluster.local:5432/taskmanager"
